@page "/can-xac-thuc-email"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Thông báo xác thực email";
}

<h1>@ViewData["Title"]</h1>
<p>
    Bạn cần vào email để xác thực tài khoản
</p>
